*.suo
*.csproj.user
*.nupkg
.vs/
build/
packages/
src/**/ER.resx
src/**/Errors.cs
src/**/Exceptions.cs
src/**/bin/
src/**/obj/
sample/**/bin/
sample/**/obj/
tests/**/bin/
tests/**/obj/

# Ignore generated
src/Zinc.WebServices/ServiceModel/WcfBehaviours.cs
src/Zinc.WebServices/Configuration.cs

# Ignore method API
sample/Zn.Sample/OneService/MethodOne.cs
sample/Zn.Sample/OneService/MethodThree.cs
sample/Zn.Sample/Services.cs
sample/Zn.Sample/TwoService/MethodTwo.cs

# Other
